In [1]:
import pandas as pd

In [2]:
merge = pd.read_csv("merge permno naics.csv")
merge_filt = merge[['LPERMNO', 'tic']]
perm_list = []
for perm in merge_filt['LPERMNO'].unique():
    perm_list.append(perm)

tic_list = []
for tic in merge_filt['tic'].unique():
    tic_list.append(tic)

In [3]:
bank_perm_tic = pd.DataFrame(list(zip(perm_list, tic_list)), 
               columns =['permno', 'tic']) 
bank_perm_tic = bank_perm_tic[bank_perm_tic['tic']!='CMA']
bank_perm_tic = bank_perm_tic[bank_perm_tic['tic']!='CFG']
bank_perm_tic = bank_perm_tic[bank_perm_tic['tic']!='FRC']
bank_perm_tic[['tic', 'permno']]

     tic  permno
0     BK   49656
1    JPM   47896
3      C   70519
4   FITB   34746
5     RF   35044
6    MTB   35554
7    USB   66157
8    FHN   36397
9   HBAN   42906
10   BAC   59408
11  NTRS   58246
12   WFC   38703
13   PNC   60442
14   KEY   64995
15   STI   68144
16  ZION   84129
17   TFC   71563
19  PBCT   12073
20  SIVB   11786

In [4]:
all_wrds = pd.read_csv('events09_17.csv')[['permno', 'edate', 'situation']]
all_wrds.head()

   permno     edate                                          situation
0   54594  20120615  The Board of Directors of AAR Corp. (NYSE:AIR)...
1   54594  20150316  The Board of Directors of AAR Corp. has author...
2   54594  20150318  AAR Corp. (NYSE:AIR) announces a share repurch...
3   54594  20170710  The Board of Directors of AAR Corp. has author...
4   54594  20170711  AAR Corp. (NYSE:AIR) announces a share repurch...

In [5]:
BK = all_wrds[all_wrds['permno']==49656]
JPM = all_wrds[all_wrds['permno']==47896]
C = all_wrds[all_wrds['permno']==70519]
FITB = all_wrds[all_wrds['permno']==34746]
RF = all_wrds[all_wrds['permno']==35044]
MTB = all_wrds[all_wrds['permno']==35554]
USB = all_wrds[all_wrds['permno']==66157]
FHN = all_wrds[all_wrds['permno']==36397]
HBAN = all_wrds[all_wrds['permno']==42906]
BAC = all_wrds[all_wrds['permno']==59408]
NTRS = all_wrds[all_wrds['permno']==58246]
WFC = all_wrds[all_wrds['permno']==38703]
PNC = all_wrds[all_wrds['permno']==60442]
KEY = all_wrds[all_wrds['permno']==64995]
STI = all_wrds[all_wrds['permno']==68144]
ZION = all_wrds[all_wrds['permno']==84129]
TFC = all_wrds[all_wrds['permno']==71563]
PBCT = all_wrds[all_wrds['permno']==12073]
SIVB = all_wrds[all_wrds['permno']==11786]

In [6]:
frames = [BK, JPM, C, FITB, RF, MTB, USB, FHN, HBAN, BAC, 
         NTRS, WFC, PNC, KEY, STI, ZION, TFC, PBCT, SIVB]
rep_events = pd.concat(frames)
rep_events.to_csv('rep_events.csv', index= False)

In [8]:
tic_list_events = []
for perm in rep_events['permno']:
    if perm ==  49656:
        tic_list_events.append('BK')
    if perm ==  47896:
        tic_list_events.append('JPM')
    if perm ==  70519:
        tic_list_events.append('C')
    if perm ==  34746:
        tic_list_events.append('FITB')
    if perm ==  35044:
        tic_list_events.append('RF')
    if perm ==  35554:
        tic_list_events.append('MTB')
    if perm ==  66157:
        tic_list_events.append('USB')
    if perm ==  36397:
        tic_list_events.append('FHN')
    if perm ==  42906:
        tic_list_events.append('HBAN')
    if perm ==  59408:
        tic_list_events.append('BAC')
    if perm ==  58246:
        tic_list_events.append('NTRS')
    if perm ==  38703:
        tic_list_events.append('WFC')
    if perm ==  60442:
        tic_list_events.append('PNC')
    if perm ==  64995:
        tic_list_events.append('KEY')
    if perm ==  68144:
        tic_list_events.append('STI')
    if perm ==  84129:
        tic_list_events.append('ZION')
    if perm ==  71563:
        tic_list_events.append('TFC')
    if perm ==  12073:
        tic_list_events.append('PBCT')
    if perm ==  11786:
        tic_list_events.append('SIVB')

In [11]:
rep_events['tic'] = tic_list_events
rep_events = rep_events[['tic', 'permno', 'edate', 'situation']]
rep_events.head()

    tic  permno     edate                                          situation
280  BK   49656  20120313  The Board of Directors of The Bank of New York...
281  BK   49656  20130314  The Board of Directors of The Bank of New York...
282  BK   49656  20140326  The Bank of New York Mellon Corporation (NYSE:...
283  BK   49656  20140326  The Board of Directors of The Bank of New York...
284  BK   49656  20150311  The Board of Directors of The Bank of New York...

In [13]:
rep_events.to_csv('rep_events_tic.csv', index = False)

In [15]:
rep_events['tic'].value_counts()

USB     13
NTRS    13
BAC     11
KEY     10
BK      10
RF       9
C        9
STI      9
HBAN     8
JPM      8
FITB     7
TFC      6
MTB      6
ZION     4
FHN      4
PBCT     3
WFC      3
PNC      2
Name: tic, dtype: int64

In [16]:
filt_rep = rep_events[rep_events['situation'].str.contains("up to")]
len(filt_rep['permno'])
filt_rep['edate']

280     20120313
281     20130314
282     20140326
285     20150311
286     20160629
          ...
2750    20160727
2752    20170629
3876    20110121
3877    20111020
3878    20121126
Name: edate, Length: 81, dtype: int64

In [17]:
years = []
months = []
days = []
for date in filt_rep['edate']:
    year = str(date)[:4]
    years.append(year)
    
    month = str(date)[4:6]
    months.append(month)
    
    day = str(date)[6:]
    days.append(day)

In [18]:
rep_mdy = []
for m, d, y in zip(months, days, years):
    rep_mdy.append("""{}/{}/{}""".format(m, d, y))

In [19]:
filt_rep['date'] = rep_mdy
filt_rep.head()

<ipython-input-19-c261e64078bf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filt_rep['date'] = rep_mdy

,tic,permno,edate,situation,date
280,BK,49656,20120313,The Board of Directors of The Bank of New York...,03/13/2012
281,BK,49656,20130314,The Board of Directors of The Bank of New York...,03/14/2013
282,BK,49656,20140326,The Bank of New York Mellon Corporation (NYSE:...,03/26/2014
285,BK,49656,20150311,The Bank of New York Mellon Corporation (NYSE:...,03/11/2015
286,BK,49656,20160629,The Bank of New York Mellon Corporation (NYSE:...,06/29/2016

In [20]:
rep_clean = filt_rep[['tic', 'date']]
len(rep_clean['tic'])

81

In [21]:
import numpy as np
market_ticker = np.array(["SPY"] * 81)
market_ticker
rep_clean['market_ticker'] = market_ticker
rep_clean = rep_clean.rename(columns={"tic": "security_ticker", "date": "event_date"})
rep_clean = rep_clean[['security_ticker', 'market_ticker', 'event_date']]
rep_clean.head()
rep_clean.to_csv('rep_clean.csv', index= False)

<ipython-input-21-35f8bd58509e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rep_clean['market_ticker'] = market_ticker